In [1]:
from pd_utils import format_number, last_day, convert_float, explore_df
import pandas as pd
from datetime import datetime
df = pd.DataFrame(columns=['name', 'value', 'birth_dt', 'value_str'], data=[['a', 350415454, datetime(2021, 1, 12), '12,323 '], ['b', 30745, datetime(2021, 2, 15), ""]])
df

  name      value   birth_dt value_str
0    a  350415454 2021-01-12   12,323
1    b      30745 2021-02-15

In [2]:
# format_number
df['value_fomat_number'] = df['value'].apply(lambda x: format_number(x))
df

  name      value   birth_dt value_str value_fomat_number
0    a  350415454 2021-01-12   12,323              350.4M
1    b      30745 2021-02-15                        30.7k

In [3]:
# last_day
df['birth_dt_last_day'] = last_day(df['birth_dt'])
df

  name      value   birth_dt value_str value_fomat_number birth_dt_last_day
0    a  350415454 2021-01-12   12,323              350.4M        2021-01-31
1    b      30745 2021-02-15                        30.7k        2021-02-28

In [4]:
# convert_float
df['value_convert_float'] = convert_float(df['value_str'])
df

,name,value,birth_dt,value_str,value_fomat_number,birth_dt_last_day,value_convert_float
0,a,350415454,2021-01-12,"12,323",350.4M,2021-01-31,12323.0
1,b,30745,2021-02-15,,30.7k,2021-02-28,NaN

In [5]:
# explore_df
explore_df(df)

********************************************************************************
a    1
b    1
Name: name, dtype: int64
********************************************************************************
350415454    1
30745        1
Name: value, dtype: int64
********************************************************************************
2021-01-12    1
2021-02-15    1
Name: birth_dt, dtype: int64
********************************************************************************
12,323     1
           1
Name: value_str, dtype: int64
********************************************************************************
350.4M    1
30.7k     1
Name: value_fomat_number, dtype: int64
********************************************************************************
2021-01-31    1
2021-02-28    1
Name: birth_dt_last_day, dtype: int64
********************************************************************************
12323.0    1
Name: value_convert_float, dtype: int64